<div class="container">

    <div class="row">
        <div class="d-flex justify-content-end">
            <button class="btn btn-danger" (click)="logout()">Logout</button>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-4 d-flex justify-content-center">
            Filter by ubication: <input type="text" [(ngModel)]="ubicationFilter" (ngModelChange)="filter()">
        </div>

        <div class="col-4 d-flex justify-content-center">
            Filter by price: 
            <select [(ngModel)]="priceFilter" (ngModelChange)="filter()">
                <option value=5>5</option>
                <option value=10>10</option>
                <option value=12>12</option>
                <option value=15>15</option>
                <option value=20>20</option>
                <option value=30>30</option>
                <option value=50>50</option>
            </select>
        </div>

        <div class="col-4 d-flex justify-content-center">
            Filter by type: 
            <select [(ngModel)]="typeFilter" (ngModelChange)="filter()">
                <option value="Concierto">Concierto</option>
                <option value="Cine">Cine</option>
                <option value="Museo">Museo</option>
                <option value="Feria">Feria</option>
                <option value="Festival">Festival</option>
                <option value="Congreso">Congreso</option>
                <option value="Convencion">Convencion</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="text-center mt-5">
            Total items: {{events.length}}
        </div>
        
    </div>

    <div class="row mt-5">
        <div class="card col-3 box mx-2 mb-4" *ngFor="let event of events | paginate: {itemsPerPage: total, currentPage: cp}">

            <div class="card-body">
                <h5 class="card-title fs-4">{{event.name}} | <span class="fs-5">{{event.type}}</span></h5>
                <h6 class="card-subtitle mb-2 text-muted"></h6>
                <p class="card-text"></p>
                <button class="btn btn-success">Modificar</button>
                <button class="ms-3 btn btn-danger">Eliminar</button>
            </div>
            , , {{event.date | date:'shortDate'}}, {{event.price | currency:'EUR':'symbol'}}, {{event.ubication}}
        </div>
    </div>

    <div class="row mt-5">
        <div class="d-flex justify-content-center">
            <pagination-controls (pageChange)="cp = $event"></pagination-controls>
        </div>
    </div>
</div>




