<div class="container">

    <div class="row mt-5">
        <div class="d-flex justify-content-end">
            <button class="btn btn-danger" (click)="logout()">Logout</button>
        </div>
    </div>

    <div class="row mt-5">

        <div class="col-12 mb-3 d-flex justify-content-start">
            Items mostrats: <input type="number" min="1" [(ngModel)]="total" pattern="[0-9]" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
        </div>

        <div class="col-12 mb-3 d-flex justify-content-start">
            Ubicació: <input type="text" [(ngModel)]="ubicationFilter" (ngModelChange)="filter()">
        </div>

        <div class="col-12 mb-3 d-flex justify-content-start">
            Preu: 
            <select [(ngModel)]="priceFilter" (ngModelChange)="filter()">
                <option value=5>5€</option>
                <option value=10>10€</option>
                <option value=12>12€</option>
                <option value=15>15€</option>
                <option value=20>20€</option>
                <option value=30>30€</option>
                <option value=50>50€</option>
            </select>
        </div>

        <div class="col-12 d-flex justify-content-start">
            Tipus d'event: 
            <select [(ngModel)]="typeFilter" (ngModelChange)="filter()">
                <option value="Concert">Concert</option>
                <option value="Cinema">Cinema</option>
                <option value="Museu">Museu</option>
                <option value="Fira">Fira</option>
                <option value="Festival">Festival</option>
                <option value="Congres">Congres</option>
                <option value="Convencio">Convenció</option>
            </select>
        </div>

        <div *ngIf="esdevenimentFiltrado.length==0" class="text-danger mt-4">No s'ha trobat cap event</div>

    </div>

    <div class="row">
        <div class="text-center mt-5">
            Total items: {{events.length}} <br><br>
            Total items filtre: {{esdevenimentFiltrado.length}}
        </div>
        
    </div>

    <div class="row mt-5">
        <div class="card col-3 text-white box mx-2 mb-4 bg-dark" *ngFor="let event of esdevenimentFiltrado | paginate: {itemsPerPage: total, currentPage: cp}">

            <div class="card-header">| {{event.type}}</div>
            <div class="card-body">
                <h4 class="card-title">{{event.name}}</h4>
                <p class="card-text">Ubicació: {{event.ubication}}</p>
                <p class="card-text">Data: {{event.date | date:'shortDate'}}</p>
                <p class="card-text">Preu: {{event.price | currency:'EUR'}}</p>
                <div *ngIf="user_role=='administrador'">
                    <button class="btn btn-success">Modificar</button>
                    <button class="ms-3 btn btn-danger" (click)="deleteEvent(event.id)">Eliminar</button>
                </div>
                <div div *ngIf="user_role=='comprador'">
                    <button class="btn btn-success">Comprar</button>
                </div>
                
            </div>
        </div>
    </div>

    <div class="row mt-5 mb-3">
        <div class="d-flex justify-content-center">
            <pagination-controls (pageChange)="cp = $event"></pagination-controls>
        </div>
    </div>
</div>


<app-modifyevent></app-modifyevent>




