<div class="container">

    <div class="row">
        <div class="d-flex justify-content-end">
            <button class="btn btn-danger" (click)="logout()">Logout</button>
        </div>
    </div>

    <div class="row mt-5">

        <div class="col-12 mb-3 d-flex justify-content-start">
            Items mostrats: <input type="number" min="1" [(ngModel)]="total" pattern="[0-9]" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
        </div>

        <div class="col-12 mb-3 d-flex justify-content-start">
            Ubicació: <input type="text" [(ngModel)]="ubicationFilter" (ngModelChange)="filter()">
        </div>

        <div class="col-12 mb-3 d-flex justify-content-start">
            Preu: 
            <select [(ngModel)]="priceFilter" (ngModelChange)="filter()">
                <option value=5>5</option>
                <option value=10>10</option>
                <option value=12>12</option>
                <option value=15>15</option>
                <option value=20>20</option>
                <option value=30>30</option>
                <option value=50>50</option>
            </select>
        </div>

        <!--<div class="col-12 d-flex justify-content-start">
            Tipus d'event: 
            <select [(ngModel)]="typeFilter" (ngModelChange)="filter()">
                <option value="Concierto">Concierto</option>
                <option value="Cine">Cine</option>
                <option value="Museo">Museo</option>
                <option value="Feria">Feria</option>
                <option value="Festival">Festival</option>
                <option value="Congreso">Congreso</option>
                <option value="Convencion">Convencion</option>
            </select>
        </div>-->

        <div *ngIf="show_item" class="text-danger mt-4">No s'ha trobat cap item</div>

    </div>

    <div class="row">
        <div class="text-center mt-5">
            Total items: {{events.length}}
        </div>
        
    </div>

    <div class="row mt-5">
        <div class="card col-3 text-white box mx-2 mb-4 bg-dark" *ngFor="let event of esdevenimentFiltrado | paginate: {itemsPerPage: total, currentPage: cp}">

            <div class="card-header">| {{event.type}}</div>
            <div class="card-body">
                <h4 class="card-title">{{event.name}}</h4>
                <p class="card-text">Ubicació: {{event.ubication}}</p>
                <p class="card-text">Data: {{event.date | date:'shortDate'}}</p>
                <p class="card-text">Preu: {{event.price | currency:'EUR':'symbol'}}</p>
                <div *ngIf="show_admin">
                    <button class="btn btn-success">Modificar</button>
                    <button class="ms-3 btn btn-danger">Eliminar</button>
                </div>
                <div div *ngIf="show_costumer">
                    <button class="btn btn-success">Comprar</button>
                </div>
                
            </div>
        </div>
    </div>

    <div class="row mt-5 mb-3">
        <div class="d-flex justify-content-center">
            <pagination-controls (pageChange)="cp = $event"></pagination-controls>
        </div>
    </div>
</div>




